<div class="contenedor">
  <div class="pie_imagen">
    <input type="text" placeholder="Escribe un pie de foto" />
  </div>
  <div class="cont_media">
    <img src="" alt="" #img_media />
  </div>
  <div class="botonera_media">
    <input type="file" hidden #file_media (change)="onChangeFileInput()" />
    <mat-chip-list>
      <mat-chip (click)="onClickFileInputButton()">Imagen / Video</mat-chip>
    </mat-chip-list>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Creador</mat-label>
    <mat-select [(ngModel)]="creador">
      <mat-option *ngFor="let creador of creadores" value="{{ creador }}">{{
        creador
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button class="btn_perfil" (click)="upload()">
    publicar
  </button>
</div>
