<div class="header">
  <img src="{{ creador.img_portada }}" alt="" />
  <div class="capa_humo"></div>
</div>
<div class="principal">
  <div class="info_creador">
    <div class="foto_perfil">
      <div class="background_foto">
        <img src="{{ creador.img_perfl }}" alt="" />
      </div>
    </div>
    <div class="full_name">
      <span>{{ creador.nombre }}</span>
      <div class="verificaion">
        <fa-icon class="check_icon" [icon]="faCheck"></fa-icon>
      </div>
    </div>
    <div class="description">
      <span>{{ creador.description }}</span>
    </div>
    <div class="redes_sociales">
      <a
        class="red_social"
        href="http://instagram.com/{{ creador.account_instagram }}"
        target="blank"
        >Instagram</a
      >
      <a
        class="red_social"
        href="http://twitch.com/{{ creador.account_twitch }}"
        target="blank"
        >Twitch</a
      >
      <a
        class="red_social"
        href="http://twitter.com/{{ creador.account_twitter }}"
        target="blank"
        >Twitter</a
      >
      <a
        class="red_social"
        href="http://facebook.com/@{{ creador.account_facebook }}"
        target="blank"
        >Facebook</a
      >
      <a
        class="red_social"
        href="http://tiktok.com/@{{ creador.account_tiktok }}"
        target="blank"
        >TikTok</a
      >
    </div>
  </div>

  <div class="conteido_creador">
    <button
      *ngIf="!pre_registrado"
      class="boton_preRegistro"
      (click)="pre_registro(true)"
    >
      Unéte para ver el contenido
    </button>
    <button
      *ngIf="pre_registrado"
      class="boton_preRegistro pre_registrado"
      (click)="pre_registro(false)"
    >
      Ya estás pre-registrado
    </button>
  </div>
</div>
