<div class="header">
  <img src="{{ creador.img_portada }}" alt="" />
  <div class="capa_humo"></div>
</div>
<div class="principal">
  <div class="info_creador">
    <div class="foto_perfil">
      <div class="background_foto">
        <img src="{{ creador.img_perfl }}" alt="" />
      </div>
    </div>
    <div class="full_name">
      <span>{{ creador.nombre }}</span>
      <div class="verificaion">
        <fa-icon class="check_icon" [icon]="faCheck"></fa-icon>
      </div>
    </div>
    <div class="description">
      <span>{{ creador.description }}</span>
    </div>
    <div class="redes_sociales">
      <button class="red_social">Instagram</button>
      <button class="red_social">Twitch</button>
      <button class="red_social">TikTok</button>
    </div>
  </div>

  <div class="conteido_creador">
    <button
      *ngIf="!pre_registrado"
      class="boton_preRegistro"
      (click)="pre_registro(true)"
    >
      Unéte para ver el contenido
    </button>
    <button
      *ngIf="pre_registrado"
      class="boton_preRegistro pre_registrado"
      (click)="pre_registro(false)"
    >
      Ya estás pre-registrado
    </button>
  </div>
</div>
